# Mengabaikan folder memori virtual environment
venv/
env/

# Mengabaikan folder sampah atau cache dari Python
__pycache__/
*.pyc

# SANGAT PENTING: Mengabaikan file rahasia
.env

# Mengabaikan file sistem operasi
.DS_Store
Thumbs.db

password.txt

*.html

mlruns/

chroma_data/

__pycache__/

venv/

env/

.DS_Store
Thumbs.db

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Database & AI Data
chroma_data/
mlruns/
*.sqlite3